.title {
  text-align: center;
}

.text {
  text-align: center;
}

.stats-item {
  margin-top: 0;
  margin-bottom: 0;
}

.galleryContainer {
  margin: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}

.js-image-item {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-basis: calc(100% / 3 - 10px);
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  display: block;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 14px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
